{{> header}}
    {{> navbar}}
    <div class="row">
        <div class= "col-8">
            <h1>
                Chamer Software
            </h1>
            <p >
                Empresa de desarrollo de software y Bla bla bla
            </p>
        </div>

        <div class= "col-4">
            <img src="assets/img/AA.png" class="img-thumbnail">
        </div>
    </div>

{{> footer}}